* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.GetCustomers {
  display: flex;
  flex-direction: column;
  width: 30rem auto;
  margin: 5rem auto
}  

.GetCustomers-button{
  padding: 2rem;
  cursor: pointer;
  background-color: #0b5468;
  font-weight: 700;
  color: white;
  border: non
}

.AddCustomer{
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 5rem auto
}

.AddCustomer-input{
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.3rem 0rem
}

.AddCustomer-btn{
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background-color: #000;
}

.AddCustomer-btn:hover{
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color: #156383;
}

.NavigationBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.NavigationBar-link{
  background-color: #0b5468;
  text-transform: capitalize;
  color: white;
  font-size: medium;
  text-decoration: none;
  min-width: 150px;
  min-height: 30px;
  text-align: center;
  padding: 16px;
  border-radius: 24px;
}

.homepage{
  text-align: center;
  font-weight: 700;
  padding-top: 100px;
}

.customerList{
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 5rem auto
}

.prevButton, .nextButton, .updateButton{
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background-color: #000;
}

.customerDiv{
  display: flex;
  justify-content: space-between;
}
